header a{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
}

header a:hover{
    text-decoration: none;
}

body{
    background-color: rgb(36, 35, 35);
}

div.nav{
    display: flex;
    justify-content: center;
    padding: 40px 40px;
}

div.intro{
    text-align: center;
    height: 400px;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: white;
    position: relative;
    left: 250px;
    top: -50px;
}

p.intro-text{
    font-size: 50px;
    padding: 20px;
}

p.intro-name{
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p.intro-title{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px;
}

div.intro-image{
    position: absolute;
    top: 180px;
    left: 700px;
}

div.my-resume{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: white;
}

div.myresume h1{
    font-size: 50px;
    padding: 20px 20px;
}

div.present-education{
    background-color: rgb(66, 65, 65);
    padding: 20px;
    margin-bottom: 20px;
     height: 170px;
    width: 600px;
}

div.foundation-year{
    height: 170px;
    width: 600px;
    background-color: rgb(66, 65, 65);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.high-school{
    background-color: rgb(66, 65, 65);
    padding: 20px;
    margin-bottom: 20px;
     height: 170px;
    width: 600px;
}

#education{
    margin-left:30px;
}

div.experience-1{
    background-color: rgb(66, 65, 65);
    padding: 20px;
    margin-bottom: 20px;
     height: 170px;
    width: 600px;
}

div.experience-2{
    background-color: rgb(66, 65, 65);
    padding: 20px;
    margin-bottom: 20px;
     height: 170px;
    width: 600px;
}

#experience{
    margin-left:30px;
    position: absolute;
    top: 683px;
    left: 700px;
}


div.aboutme-img{
    position: relative;
    left: 350px;
}

div.aboutme{
    position: absolute;
    height: 400px;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    top: 1500px;
    left: 800px;
}

div.footer-content{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(139, 139, 139);
    color: white;
}
 
div.footer-content a{
    color: white;
    text-decoration: none;
}